
<div class="border-bottom row" style="padding-top:16px;">
  <h4>{{job['title']}}</h4>
  
  <div class="col-11">
      <div class="mb-4">
        Location : {{job['location']}} <br>
        {% if 'salary' in job%}
        Salary : {{job['salary']}}
        {% endif %}
      </div>
  </div>
  <div class="col-1">
    <a href="mailto:saadurrehman19114@gmail.com?subject=Application%20for%20{{job['title']}}&body=My%20Name%3A%20%3Cyour%20name%20here%3E%0D%0A%0D%0AMy%20Resume%20Link%3A%20%3Cyour%20resume%20link%3E%0D%0A%0D%0AMy%20LinkedIn%20ID%3A%20%3Cyour%20linkedin%20id%3E"type="button" class="btn btn-outline-primary col">Apply</a>
  </div>
</div>
    
  

